@media(min-width: 768px) and (max-width: 991px) {
  .section-heading>h2 {
    font-size: 34px;
  }
  .address-text>p,
  .phone-text>p,
  .email-text>p {
    font-size: 14px;
  }
  #name,
  #email {
    font-size: 16px;
  }
  .footer-text>p {
    margin-bottom: 30px;
  }

  .btn.submit-btn {
    height: 40px;
    min-width: 160px;
  }
}


@media (max-width: 767px) {
  .contact-form {
    margin-top: 30px;
  }

  .section-heading>h2 {
    font-size: 30px;
  }

  .address-text>p,
  .phone-text>p,
  .email-text>p {
    font-size: 14px;
  }

  #name,
  #email {
    font-size: 16px;
  }
  .footer-text>p {
    margin-bottom: 30px;
  }

  .btn.submit-btn {
    font-size: 14px;
    height: 40px;
    min-width: 140px;
  }


}

